/* Paleta */
:root {
  --primary: #d4af37;
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --text-main: #ffffff;
}

/* Fondo */
.bg-main {
  background: var(--bg-main);
}

.img-cristo-rey{
  width: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 16px;
}
/* Cards */
.card-custom {
  background: var(--bg-card);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* Calendario */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.day:hover {
  background: var(--primary);
  color: black;
}

.day.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.day.today {
  border: 2px solid var(--primary);
}

.day.selected {
  background: var(--primary);
  color: black;
  font-weight: bold;
}

/* Horarios */
.horarios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}

.hora-btn {
  padding: 10px;
  border-radius: 10px;
  background: #334155;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.hora-btn:hover {
  background: var(--primary);
  color: black;
}

/* Animaciones */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}